In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

## Onehot encode Geography column
from sklearn.preprocessing import OneHotEncoder

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import BinaryCrossentropy

In [34]:
data = pd.read_csv("Churn_Modelling.csv")

In [35]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

### Preprocess data

Drop Irrelevant data features

In [36]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis = 1)

In [37]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [38]:
# Encode 1 categorical feature

label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [39]:
one_hot_geo = OneHotEncoder(sparse_output=False)
geo_encoder = one_hot_geo.fit_transform(data[['Geography']])
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [40]:
one_hot_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [41]:
geo_encoded_df = pd.DataFrame(geo_encoder, columns=one_hot_geo.get_feature_names_out(['Geography']))

In [42]:
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [43]:
## COmbine this with original data

data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1 )

In [44]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [45]:
## Save the encoders and scaller

with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file )

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(one_hot_geo, file)

In [46]:
## DIvide datasets into dependent and independent features
x = data.drop('Exited', axis = 1)
y = data['Exited']


x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state = 42)

In [47]:
## Scale down these features

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [48]:
x_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [49]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

# ANN Implementation

In [50]:
## Build our model
model = Sequential([
    Dense(64, activation='relu', input_shape=(x_train.shape[1],)), #HL1 connected with Input Layer
    Dense(32, activation='relu'), #HL2
    Dense(1, activation = 'sigmoid') #Output Layer
])

/Users/ashishnair/Documents/Programming/GenAI/Project1/venv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [51]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [52]:
opt = Adam(learning_rate=0.01)
loss = BinaryCrossentropy()

In [53]:
##Compile the model

model.compile(optimizer=opt, loss=loss, metrics=['accuracy'])

In [54]:
## Set up tensorboard

log_dir = "logs/fit " + datetime.datetime.now().strftime("%Y-%m-%d-%H:%M:%S")

tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [55]:
## Setting up early stopping
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [56]:
### Training the model
history = model.fit(
    x_train, y_train, validation_data=(x_test, y_test), epochs = 100,
    callbacks=[tensorflow_callback, early_stopping]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 977us/step - accuracy: 0.8222 - loss: 0.4319 - val_accuracy: 0.8515 - val_loss: 0.3641
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 709us/step - accuracy: 0.8547 - loss: 0.3474 - val_accuracy: 0.8600 - val_loss: 0.3547
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 950us/step - accuracy: 0.8560 - loss: 0.3549 - val_accuracy: 0.8610 - val_loss: 0.3445
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 697us/step - accuracy: 0.8517 - loss: 0.3568 - val_accuracy: 0.8530 - val_loss: 0.3599
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 668us/step - accuracy: 0.8616 - loss: 0.3416 - val_accuracy: 0.8625 - val_loss: 0.3539
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 664us/step - accuracy: 0.8665 - loss: 0.3257 - val_accuracy: 0.8605 - val_loss: 0.3410
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 668us/step - accuracy: 0.8664 - loss: 0.3316 - val_accuracy: 0.8605 - val_loss: 0.3482
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 667us/step - accuracy: 0.8608 - loss: 0.3386 - val_accuracy: 0.8600 - val_loss: 0.3389
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 679us/step - accuracy: 0.8608 - loss: 0.3356 - val_accuracy: 0.8635 - val_loss: 0.3510
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 696us/step - accuracy: 0.8673 - loss: 0.3244 - val_accuracy: 0.8575 - val_loss: 0.3546
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 677us/step - accuracy: 0.8717 - loss: 0.3122 - val_accuracy: 0.8555 - val_loss: 0.3544
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 672us/step - accuracy: 0.8728 - loss: 0.3127 - val_accuracy: 0.8625 - val_loss: 0.3532
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 694us/step - accuracy: 0.8687 - loss: 0.3214 - val_accuracy: 0.8585 - val_loss: 0.3478
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 670us/step - accuracy: 0.8666 - loss: 0.3168 - val_accuracy: 0.8615 - val_loss: 0.3589
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 670us/step - accuracy: 0.8689 - loss: 0.3155 - val_accuracy: 0.8610 - val_loss: 0.3510
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 676us/step - accuracy: 0.8668 - loss: 0.3212 - val_accuracy: 0.8570 - val_loss: 0.3592
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 668us/step - accuracy: 0.8711 - loss: 0.3063 - val_accuracy: 0.8640 - val_loss: 0.3563
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 672us/step - accuracy: 0.8683 - loss: 0.3118 - val_accuracy: 0.8600 - val_loss: 0.3548

In [57]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [58]:
## Load tensorboard

%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [59]:
%tensorboard --log_dir logs/fit 2025-02-22-17/54/12

ERROR: Failed to launch TensorBoard (exited with 2).
Contents of stderr:
usage: tensorboard [-h] [--helpfull] [--logdir PATH] [--logdir_spec PATH_SPEC]
                   [--host ADDR] [--bind_all] [--port PORT]
                   [--reuse_port BOOL] [--load_fast {false,auto,true}]
                   [--extra_data_server_flags EXTRA_DATA_SERVER_FLAGS]
                   [--grpc_creds_type {local,ssl,ssl_dev}]
                   [--grpc_data_provider PORT] [--purge_orphaned_data BOOL]
                   [--db URI] [--db_import] [--inspect] [--version_tb]
                   [--tag TAG] [--event_file PATH] [--path_prefix PATH]
                   [--window_title TEXT] [--max_reload_threads COUNT]
                   [--reload_interval SECONDS] [--reload_task TYPE]
                   [--reload_multifile BOOL]
                   [--reload_multifile_inactive_secs SECONDS]
                   [--generic_data TYPE]
                   [--samples_per_plugin SAMPLES_PER_PLUGIN]
                   [--detect_file_replacement BOOL]
                   {serve} ...
tensorboard: error: argument {serve}: invalid choice: '2025-02-22-17/54/12' (choose from 'serve')

In [60]:
## Load the pickle file